/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/


.full_width {

    background-image: url(../../uploads/2017/07/background-tile.jpg) !important;
}
.qode_icon_font_awesome.fa.fa-bars {
    color: #fff !important;
}
.button1 span {
    border: 1px dashed rgba(255, 255, 255, 0.36);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 30px;
    padding-left: 30px;
}
.header_bottom .container_inner {
    position: absolute;
    left: 0;
    right: 0;
}
#comments {
    display: none;
}
.button1 a {
   background-color: rgba(183,183,134,0.8)!important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    margin-top: -15px !important;
    color: #352325 !important;
}
span.plus {
    display: none;
}
.d_fu_subscribe0 .cms-text  {
    padding: 16px 16px 15px 160px;
  border: none;
    margin: 0 15px 0 -28px;
    background: none;
    font-size: 15px;
    width: 220px;
    display: block;
    background: url("../../uploads/2017/07/f_subscribe_bg.png") 1px 1px no-repeat #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
}
.footer_top li
 {
    font-size: 18px !important;
    color: #ea6059 !important;
}

.footer_top li a
{
 font-size: 13px;
    line-height: 25px !important;
}
.submit1 {
        color: #fff !important;
    height: 29px !important;
    padding: 0 25px !important;
    border-radius: 3px !important;
    background-color: #503033 !important;
    font-size: 13px !important;
    text-transform: none !important;
    font-weight: 500 !important;
}
.cms-text {
    padding: 1.3em;
    width: 100%;
    margin-left: -16px;
}
.text1 {
    float: left;
    margin-left: -23%;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    font-family: raleway;
    color: #000000;
}
.footer_top h5 {
    font-size: 25px !important;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 15px;
    width: 208px;
    font-weight: 600;
}
.footer_top li {
    font-size: 18px!important;
    color: #503033 !important;
}
.footer_top li a {
    font-size: 23px;
    line-height: 45px !important;
color: #3c4046 !important;
}
.footer_bottom_holder {

    padding-top: 78px !important;
    padding-bottom: 46px !important;
}

.drop_down .second .inner ul li a{
    color: #fff !important;}
.drop_down .second ul li{
    border-color: rgba(252, 252, 252, 0.13) !important;}
.drop_down .narrow .second .inner ul li a {
    padding-left: 10px !important;
}
.drop_down .narrow .second .inner ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.title_subtitle_holder {
    display: none;
}
.drop_down .narrow .second .inner ul li {

    width: 235px!important;
}
.drop_down .second {
    margin-top: 20px;
}


.cform13 {
    list-style: none;
}
.cform13 li {
    display: table;
    width: 100%;
}
.cform13 label {
    display: table-cell;
    width: 35%;
    font-size: 12px;
    color: #5a5a5a;
    font-weight: normal;
    padding: 4px 9px;
}
.cform13 em {display: table-cell;}
.cform13 label span {color:#f00;}
.cform13 li input {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}
.cform13 li textarea {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}
.font1 {
    font-size: 13px;
    color: #5a5a5a;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #FFF;
    margin: 1em 0;
    padding: 0;
}
.blog_holder.single_image_title_post article h1 {
    color: #4a2c2f;
}
.title_subtitle_holder_inner {
    DISPLAY: NONE;
}
::selection {
    background: rgba(255, 87, 34, 0.7);
    color: #fff;
}
/* .content .container {

    background-image: url(../../uploads/2017/07/background-tile.jpg);
}*/
 .content .container {
      background-color: rgb(243, 238, 232);
       margin-top: -1%;
}

.call1 {
    font-size: 25px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: 'Basic', sans-serif;
    line-height: 17px !important;
}
.loader {
    display: none;
}

@media only screen and (max-width: 480px)
{


	.texthidden
	{
		display:none;
	}
	.copyright2
	{
	    display:block;
	}
	.headertophidden{
	    display:none;
	}

	img.vc_single_image-img.attachment-full
	{
		display: none;
	}
	a.i001-css-button.new_v01.tool-htmledit-img
	{
		display: none;
	}

	.hiddenmobile1.vc_custom_1502951826063
	{
		border-left: 6px solid #fff !important;
		padding: 0px !important;
	}
	.hiddenmobile1 vc_custom_1502963462742
	{
		border-left: 6px solid #fff !important;
		padding: 0px !important;
	}
	.hiddenmobile1 .vc_custom_1502968834927
	{
		border-left: 6px solid #fff !important;
		padding: 0px !important;
	}
	a
	{
		color: #593b3e!important;
	}
	.footerbottom
	{
		display: block;
		list-style-position: inside;
		list-style: none;
		background: #503033;
		padding-top: 20px;
		PADDING-BOTTOM: 20PX;
		LINE-HEIGHT: 33PX;
		padding-left: 20px;
	}
	.menu a
	{
		font-size: 20px;
		color: #fff !important;
	}

.header_top .right .inner > div:first-child {
    display: none;
}
.wpb_revslider_element.wpb_content_element {
    display: none;
}

.fixed_top_header .q_logo img.mobile, .logo_wrapper
	{
		position: static;
		margin-left: 9% !important;
	}



	.header_bottom
	{
  	  background: #503033 !important;
  	  height: 62px !important;
  	  margin-top: 0% !important;
  	  padding-top: 42px !important;
  	  border-bottom: 6px solid rgba(80, 48, 51, 0.9);
	overflow: hidden !important;
     position: fixed !important;
     top: 0 !important;
     width: 100% !important;
	}

	.qode_icon_font_awesome.fa.fa-bars
	{

		color: fff!important;
		font-size: 52px;

	}

    .mobile_menu_button span
	{
    	width: 64px;
    	height: 64px;
    	top: 32px;
	}
.mobile_menu_button
	{
		margin-top: -39px;
		float: right;

	}
	.nav.mobile_menu ul li
	{
		    border-color: rgba(255, 254, 254, 0.13)!important;
	}
	li#mobile-menu-item-428
	{
  	 	 display: none;
	}
	.mobile_menu ul>li.has_sub>span.mobile_arrow
	{
		padding-right: 50px !important;
  		font-size: 50px;
	}
	a.current
	{
   		 color: #fff !important;
	}

	h4.text2
	{
    	font-size: 25px!important;
   		color: #000!important;
   		font-weight: 700!important;
	}

	 .text1
	{
    	font-size: 25px;
   		color: #000;

	}
	.hiddenmobile
	{
    	display: none;
	}
	.footer_top
	 {
    	display: none;
	 }
	 .footerinner
	 {
		display:none;
	 }

	.text11
	{
    	font-size: 25px!important;
   		color: #000!important;

	}
	.marginmobile
	{
	    margin-top: 50px !important;
	}
	.wpb_text_column.wpb_content_element.borderline
	 {
   		 border-left: 3px solid #fff !important;
	 }
	.footer3
	{
		display:block!important;
		background:#000!important;
	}
	.footer2
	{
		display:none!important;
	}
	.footer_bottom_holder
	{
  		  background: #000 !important;
		  padding-top: 27px !important;
	}
	.footertext3
	 {
   		 display: none;
	}
	a.footertext2
	 {
    	 display: block;
   		 float: left;
   		 padding: 18px;
   		 background: #1d2122;
   		 border-radius: 10px;
   		 margin: 12px 10px;
   		 color: #fff !important;
   		 font-size: 23px;
	}

	 .footerbottom ul li
		{
			list-style: none;
		}
	.children
	{
		display:none;
	}
	.hidden1
	{
		display:none;
	}
	.margintop1
	 {
    	margin-top: 80px;
	}
	.button2
	 {
    	    display: block;
   		 	border-top: 1px solid #E2E7E6;
    		border-bottom: 1px solid #E2E7E6;
    		font-family: Arial, sans-serif;
    		text-decoration: none;
    		font-size: 25px;
    		padding: 24px 30px 23px;
    		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 45%,rgba(229,234,235,1) 100%);
    		width: 100%;
    		margin-top: -100px;
    		height: 33px;
	}
	.button3
	 {
		display:none;
	}
	.color2
	{
   		 height: 0px !important;
	}
	tr.rowa
	 {
   		 background: #a49597!important;
    	color: #5a5a5a!important;
	}
	.post_info
	{
		display: none !important;
	}
	p.post_excerpt
	{
		display: none !important;
	}
	.post_more
	{
		display: none!important;
	}
	h2.entry_title
	{
		display: block!important;
		border-top: 1px solid #E2E7E6!important;
		border-bottom: 1px solid #E2E7E6!important;
		font-family: Arial, sans-serif!important;
		text-decoration: none!important;
		font-size: 25px!important;
		padding: 24px 30px 23px!important;
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 45%,rgba(229,234,235,1) 100%)!important;
		width: 100%!important;
		height: 33px!important;
	}
	.blog_holder article
	{
	    margin: -46px!important;;
	}
	.blogheaderimage
	{
		display:none;
    width:100%;
	}

#rogue img{
    width:100% !important;
  }


	.blog_holder.blog_large_image
	 {
   		 padding-top: 100px!important;
	 }
	.fohidden2
	{
		display: none!important;
	}
	.fohidden1
	{
		display: block!important;
	}

}

@media only screen and (max-width: 1000px)
{
	 .mobile_menu_button span
	{
	   	width: 64px;
    	height: 64px;
    	top: 32px;

	}
	.headertophidden{
	    display:none;
	}
.logo_wrapper
{
    height: 100px!important;
    left: -5%;
}
	.mobile_menu_button
	{
		margin-top: -39px;
		float: right;

	}
	.fohidden2
	{
		display: none!important;
	}
	.fohidden1
	{
		display: block!important;
	}
		.copyright2
	{
	    display:block;
	}

	.texthidden
	{
		display:none!important;
	}


	.blog_holder.blog_large_image
	 {
   		 padding-top: 100px;
	 }
	h2.entry_title
	{
		display: block!important;
		border-top: 1px solid #E2E7E6!important;
		border-bottom: 1px solid #E2E7E6!important;
		font-family: Arial, sans-serif!important;
		text-decoration: none!important;
		font-size: 25px!important;
		padding: 24px 30px 23px!important;
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 45%,rgba(229,234,235,1) 100%)!important;
		width: 100%!important;
		height: 33px!important;
	}

	.post_info
	{
		display: none !important;
	}
	p.post_excerpt
	{
		display: none !important;
	}
	.post_more
	{
		display: none!important;
	}

	img.vc_single_image-img.attachment-full
	{
		display: none;
	}
	a.i001-css-button.new_v01.tool-htmledit-img
	{
		display: none;
	}

	.hiddenmobile1.vc_custom_1502951826063
	{
		border-left: 6px solid #fff !important;
		padding: 0px !important;
	}
	.hiddenmobile1 vc_custom_1502963462742
	{
		border-left: 6px solid #fff !important;
		padding: 0px !important;
	}
	.hiddenmobile1 .vc_custom_1502968834927
	{
		border-left: 6px solid #fff !important;
		padding: 0px !important;
	}
	a
	{
		color: #593b3e!important;
	}
	.header_top .inner
	{
		display: inherit!important;
	}
	.nav.mobile_menu ul li
	{
		    border-color: rgba(255, 254, 254, 0.13)!important;
	}

	li#mobile-menu-item-428
	{
  	  display: none;
	}
	.mobile_menu ul>li.has_sub>span.mobile_arrow
	{
		padding-right: 50px!important;
  		font-size: 50px;
	}
	a.current
	{
    	color: #fff !important;
	}

	h4.text2
	{
    	font-size: 25px!important;
   		color: #000!important;
   		font-weight: 700!important;
	}

	.text11
	{
    	font-size: 25px!important;
   		color: #000!important;

	}
	.hiddenmobile
	{
    	display: none;
	}

	.full_width
	{
 		 background:#fff!important;
	}
	.footer_top
	 {
    	display: none;
	 }
	 .footerinner
	 {
		display:none;
	 }


	.marginmobile
	{
	    margin-top: 50px !important;
	}
	.wpb_text_column.wpb_content_element.borderline
	 {
   		 border-left: 3px solid #fff !important;
	 }

	.footer3
	{
		display:block!important;
	}
	.footer2
	{
		display:none!important;
	}
	.footer_bottom_holder
	{
  		  background: #000 !important;
		  padding-top: 27px !important;
	}
	.footertext1
	{
		font-size: 12px; color: #a1a1a1;}
	}
	.footertext3
	 {
   		 display: none;
	}
	a.footertext2
	 {
    	display: block;
   		 float: left;
   		 padding: 18px;
   		 background: #1d2122;
   		 border-radius: 10px;
   		 margin: 12px 10px;
   		 color: #fff !important;
   		 font-size: 23px;
	}


	.footerbottom
	{
		display: block;
		list-style-position: inside;
		list-style: none;
		background: #503033;
		padding-top: 20px;
		padding-left: 20px;
		PADDING-BOTTOM: 20PX;
		LINE-HEIGHT: 33PX;
	}
	.menu a
	{
		font-size: 20px;
		color: #fff !important;
	}
	.footerbottom ul li
	{
		list-style: none;
	}
	.children
	{
		display:none;
	}
	.header_bottom
	{

     background: #503033 !important;
  	  height: 62px !important;
  	  margin-top: 0% !important;
  	  padding-top: 42px !important;
  	  border-bottom: 6px solid rgba(80, 48, 51, 0.9);
	overflow: hidden !important;
     position: fixed !important;
     top: 0 !important;
     width: 100% !important;

	}
    .hidden1
	{
		display:none;
	}
	.margintop1
	 {
    	margin-top: 80px;
	}

	.button2
	 {
    	    display: block;
   		 	border-top: 1px solid #E2E7E6;
    		border-bottom: 1px solid #E2E7E6;
    		font-family: Arial, sans-serif;
    		text-decoration: none;
    		font-size: 25px;
    		padding: 24px 30px 23px;
    		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 45%,rgba(229,234,235,1) 100%);
    		width: 100%;
    		margin-top: -100px;
    		height: 33px;
	}
	.button3
	 {
		display:none;
	}
	.color2
	{
   		height: 0px !important;
	}
	tr.rowa
	 {
   		 background: #a49597!important;
    	color: #5a5a5a!important;
	}
	.blog_holder article
	{
	    margin: -46px!important;
	}
	.blogheaderimage
	{
		display:none;
	}
	.blogheaderimage1
	{
		display:none;
	}
	.footer5
	{
    	margin-right: 39%;
	}
	.marginmobile
	{
	    margin-top: 50px !important;
	}

}
@media only screen and (min-width:1200px)
{

	.footermargin
	{
		margin-left: 40%!important;
	}
	.footer5
	{
    	margin-right: 39%;
	}
		.copyright2
	{
	    display:none;
	}

	.fohidden1
	{
		display: none!important;
	}
	.footer4
	{
    	margin-left: 30%!important;
	}

	.blog_holder article
	{
	    margin:0 0 60px!important;
	}
	tr.rowa
	 {
   		background: rgba(255, 255, 255, 0.55)!important;
    	color: #000000!important;
	}

	.button2
	 {
		 display:none;
	}
	.post_info
	{
		display: block !important;
	}
	p.post_excerpt
	{
		display: block !important;
	}
	.post_more
	{
		display: block!important;
	}

	.mobile_menu {
    display: none;
	}

	.footerbottom
	{
		display:none;
	}

	a.footertext1.footertext3
	{
   		 FLOAT: left;
	}

	.footer3
	{
		display:none!important;

	}
	.footer2
	{
		display:block!important;

	}
	.footertext3
	{
		display:block;
	}
	.footerinner1
	{
		display: block;
	}
	a.footertext2
	 {
   		display: block;
    	float: left;
   	 	padding-right: 9px;
    	background: rgba(29, 33, 34, 0);
    	border-radius: 0;
    	margin: 0;
    	color: #a1a1a1!important;
    	font-size: 15px;
		padding: 0;
	}
	.header_bottom
	{

  	  height: 300px !important;
      padding-top: 75px !important;
    background: rgba(255, 255, 255, 0) !important;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 6px solid rgba(80, 48, 51, 0.06);
    overflow: hidden !important;
    position:absolute !important;
    top: 0 !important;
    width: 100% !important;


	}

	.color2
	{
   		 background-color: #fff!important;
    	height: 340px!important;
	}
	.color2:hover
	{
   		 background-color: #F8F6F2!important;
	}
	.blog_holder article
	{
	    margin:0 0 60px!important;
	}
	.post_text_inner
	{
    	margin: 66px 0px 60px;
	}
	.blogheaderimage
	{
		display:block;
	}
	.blog_holder.blog_large_image
	 {
   		 padding-top: 0px!important;
	 }
	 .fohidden2
	{
		display: block!important;
	}
}

@media only screen and (min-width:1024px)
{
	.footermargin
	{
		margin-left: 40%!important;
	}
	.blog_holder.blog_large_image
	 {
   		 padding-top: 0px!important;
	 }
	 .fohidden1
	{
		display: none!important;
	}
		.copyright2
	{
	    display:none;
	}
	.footer4
	{
    	margin-left: 30%!important;
	}
	.blogheaderimage
	{
		display:block;
	}
	.fohidden2
	{
		display: block!important;
	}

	.post_text_inner
	{
    	margin: 66px 0px 60px;
	}
	.hidden1
	{
		display:block;
		margin-top:20px;
	}
	.color2
	{
   		 background-color: #fff!important;
    	height: 340px!important;
	}
	.post_info
	{
		display: block !important;
	}
	p.post_excerpt
	{
		display: block !important;
	}
	.post_more
	{
		display: block!important;
	}
	tr.rowa
	 {
   		background: rgba(255, 255, 255, 0.55)!important;
    	color: #000000!important;
	}
	.color2:hover
	{
   		 background-color: #F8F6F2!important;
	}
	.button3
	 {
		display:block;
	}
		.button2
	 {
		 display:none;
	}
	.header_bottom
	{

  	  height: 300px !important;
        padding-top: 75px !important;
    background: rgba(255, 255, 255, 0) !important;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 6px solid rgba(80, 48, 51, 0.06);
    overflow: hidden !important;
    position:absolute !important;
    top: 0 !important;
    width: 100% !important;


	}

	.footerbottom
	{
		display:none;
	}

	.mobile_menu {
    display: none;
	}

	a.footertext1.footertext3
	{
   		 FLOAT: left;
	}

	.footer3
	{
		display:none!important;

	}
	.footer2
	{
		display:block!important;

	}
	.footertext3
	{
		display:block;
	}
	.footerinner1
	{
		display: block;
	}

	a.footertext2
	 {
   		display: block;
    	float: left;
    	background: rgba(29, 33, 34, 0);
    	border-radius: 0;
    	margin: 0;
    	color: #a1a1a1!important;
    	font-size: 12px;
    	padding: 0;
	}
		.button3
	 {
		display:block;
	}
	.hidden1
	{
		display:block;
		margin-top:20px;
	}
}

@media only screen and (min-device-width : 1001px) and (max-device-width : 1024px)
{
  .header_bottom {
    background: rgba(80, 48, 51, 0) !important;
    height: 62px !important;
    padding-top: 115px !important;
    border-bottom: 6px solid rgba(80, 48, 51, 0.02);
    overflow: hidden !important;
    position: fixed !important;
    top: 0 !important;
}
.q_logo {
    padding-top: 0;
	}

}

div.vc_custom_1503041176984 {

  margin-top:-5% !important;

}

div.vc_custom_1503039646075 {

  margin-top:-5% !important;

}
div.vc_custom_1503040280127 {

  margin-top:-5% !important;

}
div.vc_custom_1502963237342 {

  margin-top:-5% !important;

}
div.vc_custom_1502969155718 {

  margin-top:-5% !important;

}

div.vc_custom_1502962484715 {

  margin-top:-5% !important;

}

img.vc_single_image-img.attachment-full
{
  width: 100% !important;
}

div.vc_custom_1503037891378 {
  margin-top:-5% !important;
}

div.vc_custom_1503040967135 {
  margin-top:-5% !important;

}


.wpb_single_image .vc_single_image-wrapper{

  display: inline-block;
}
