/*============================================================







    Theme Name: web123-child



    Theme URI: http://www.web123.com.au



    Author: http://www.web123.com.au



    Author URI:



    Version: 1.0



    Description:



    Template: web123



    Text Domain: web123







============================================================*/

body {
    background: url(images/footer-bg.jpg) bottom left no-repeat #fff;
}

#wpadminbar {display:none;}
.content  {background:transparent!important;}
.footer_top_holder {
    background-color: transparent!important;
   }
.wrapper {background: transparent!important;}
.full_width {background: transparent!important;}
.footer_bottom_holder {
    
    background-color: transparent!important;
}

@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');







.header_top 
{
    background: url(images/2117899.jpg) no-repeat; 
    background-size: cover;
    height: auto;
    background-position: top center;
}

.mycform 
{

    background: rgba(0, 0, 0, 0.3);



    padding: 30px 30px;



    position: relative;



    left: 4%;



    margin-top: 17%;



    margin-bottom: 12%;



    min-width: 380px;



}



.mycform h2 {



    font-size: 22px;



    line-height: 35px;



    font-weight: 600;



    color: #fff;



    padding-bottom: 5px;



    border-bottom: 1px solid #fff;



    text-transform: inherit;



    text-align: center;



}



.mycform h3 {



    margin-top: 25px;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    text-transform: inherit;
    font-weight: 700;
    letter-spacing: 0;


}



.mycform ul {



    list-style: none;



}



.mycform ul li {margin-bottom: 10px;}



.mycform ul li input[type="text"] {



    padding: 12px 10px;



}



.mycform ul li input[type="email"]
{ padding: 12px 10px;}



.mycform ul li input[type="submit"] 
{



    width: 100%;



    text-align: center;



    background: #db223c;



    border: 0px solid #333!important;



    color: #fff!important;



    font-size: 18px;



    line-height: 27px;



    margin-top: 3%;



    padding: 3px 0px;



}



.mycform ul li input[type="submit"]:hover { background: #db223c!important;}



/*# sourceMappingURL=style.css.map */



nav.main_menu>ul>li>a {



    padding: 0 11px;



    font-size: 13px;



    letter-spacing: 0px;



}



.color1 a:hover {



    color: #fff;



    opacity: 0.85;



}



.title_subtitle_holder {



    display: none;



}



a.i001-css-button.new_v01.tool-htmledit-img.my1 {



    padding-right: 20px;



    padding-left: 20px;



}



a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {



   color: #ffffff;



    text-decoration: none;



    font-size: 12px;



     padding-top: 7px;



    padding-right: 20px;



    padding-left: 20px;



    padding-bottom: 7px;



    border-radius: 3px;



}



.new_v01:active{



        background-color: #11a4ee !important;



    background-image: linear-gradient(#154862, #28adef)!important;







}



.i001-css-button{



font-family: Helvetica, Arial, Verdana, sans-serif;



}



.i001-css-button.new_v01.tool-htmledit-img {



    background: #11a4ee;



    width: 68%;



    border-radius: 3px;



    text-align: center;



}

/*/*NEWSLETTER*/

.newsltr {

    background: #223F62;

    padding: 20px 0px;

    color:#fff;

}

.mailchimp_headings {

 font-size: 18px;

    font-weight: 400;

    padding-bottom: 20px;

    padding-top: 15px;

    text-transform: inherit;

    display: inline-block;

    width: 24%;

    color:#fff;

    line-height: 23px;

}

.mcwpq {

    display: inline-block;

    position: relative;

    top: -15px;

}

.signupnow {

    position: relative;

    background: #11A4EE;

    padding: 10px 21px;

    color: #fff;

    top: 1px;

    display: inline-block;

  text-transform:uppercase;

}

.signupnow::after {

    content: '';

    width: 0;

    height: 0;

    border-left: 20px solid #11A4EE;

    border-top: 23px solid rgba(0, 0, 0, 0);

    border-bottom: 23px solid rgba(0, 0, 0, 0);

    position: absolute;

    top: 0px;

    right: -20px;

}

.cms-text {

    padding: 1.3em;

    margin-left: -142px;

    padding-left: 160px;

    outline: 0;border: 0px solid #000;

/*    box-shadow: 0px 0px 6px #a1a1a1;*/

}

.cms-text2 {padding: 1.3em;

    width: 240px;

    padding-right: 95px; outline: 0;border: 0px solid #000;

/*    box-shadow: 0px 0px 6px #a1a1a1;*/

    margin-left: 15px;}

.cms-button {

background: #DB223C;

    color: #fff;

    border: 0;

    padding: 0.9em;

    margin-left: -90px;

    text-transform: uppercase;

}

.footer_top h5 {

    margin-bottom: 10px;

    border-bottom: 1px solid #605e5e;

    padding-bottom: 5px;

}

.loader {

    display: none;

}
.request-quote-footer
 {
    width: 725px;
    height: 245px;
    background: white;
    box-sizing: border-box;
    padding: 50px  37px;
    float: left;
    margin-bottom: 50px;
    margin-left: 325px;
}
span.light-blue 
{

    color: #11a3ee !important;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 22px!important;
}
.footer_top .container_inner > .widget
{
    text-align:left;
}

span.dark-blue
{
    color:#012c5c;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 22px!important;
}

a.light-blue:hover 
{
  color: #11a3ee !important;
}


a.light-blue 
{
     color: #11a3ee !important;
}
span.light-blue1 
{
    color: #11a3ee !important;
    font-size: 16px!important;
    line-height: 26px!important;
}

span.dark-blue1
{
    color:#012c5c!important;
    font-size: 16px!important;
    line-height: 26px!important;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-fwd 
{
    height: 200px!important;
    width: 67px!important;
    position: absolute!important;
    left: 0;
    cursor: pointer!important;
    text-align: center;
    color: #ea6059 !important;
    background-image: url(http://3ilogics.com/matt/crouchtransport/wp-content/uploads/2017/08/gallery_back.png)!important;
    content: close-quote!important;
    top: -5%!important;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-bwd 
{
    right: 0!important;
    left: auto!important;
    background-image: url(http://3ilogics.com/matt/crouchtransport/wp-content/uploads/2017/08/gallery_next.png)!important;
    top: -5%!important;
    height: 200px !important;

}
.ms-thumb-list.ms-dir-h .ms-thumblist-fwd:after, .ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after
{
     border: rgba(0, 0, 0, 0)!important;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-bwd
{
    width:67px!important;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-fwd
{
    width: 67px!important;
    background-image:url("http://3ilogics.com/matt/crouchtransport/wp-content/uploads/2017/08/gallery_back.png")!important;
    top: -5%!important;
    height: 200px;

}

.cform12 
{
    list-style: none!important;
}

.cform12 li 
{
    display: table !important;
    width: 100%!important;
    list-style: none!important;
}

.cform12 label 
{
    display: table-cell!important;
    width: 35%!important;
    font-size: 17px !important;
    color: #000!important;
    font-weight: 700!important;
    padding: 4px 9px!important;
}

.cform12 em 
{
    display: table-cell!important;
}

.cform12 label span 
{
    color:#000!important;
}

.cform12 li input 
{
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}

.cform12 li textarea 
{
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}

.submit1 
{
     color: #fff !important;
     height: 33px !important;
     padding: 0 13px !important;
    border-radius: 3px !important;
    background-color: #ea6059 !important;
    font-size: 11px !important;
    text-transform: none !important;
    font-weight: 500 !important;
}

.web123_footer 
{
    display: none;
}

.footertext1
{
    font-size: 12px; color: #a1a1a1;
}

.drop_down #nav-menu-item-183.narrow .second .inner ul li 
{
    width: 215px;
}

.drop_down .second .inner ul li a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 22px;
}
.drop_down .second i 
{

    float: right;
}
.drop_down .second .inner
{
    margin: -7px;
}
.drop_down .second .inner ul li.sub a i.q_menu_arrow 
{
    
    display: none;
}
.drop_down .narrow .second .inner ul li 
{
  
    width: 250px;
}
.drop_down .second .inner ul li a, .drop_down .second .inner ul li h5 
{
 
    line-height: 9px;
}

.drop_down .second .inner ul li a
{

    font-size: 10px;
}
.drop_down .second ul li
{
    border-color: rgba(255, 255, 255, 0.14)!important;}

.drop_down #nav-menu-item-39.narrow .second .inner ul li 
{
    width: 165px!important;
}
.drop_down .narrow .second .inner ul li a:hover 
{
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.newsltr.grid_section 
{
    display: none;
}
nav.main_menu.drop_down.left 
{
    left: 215px !important;
}
::placeholder {
    font-family: sans-serif;
}
.blog_holder article
{   
    margin: 0 0 15px;
}
.the_champ_horizontal_sharing li.the_champ_facebook_like
{
    width: 69px!important;
}
.the_champ_horizontal_sharing li.the_champ_twitter_tweet
{
    width: 72px!important;
}

.wrapper_inner
{
    overflow:inherit;
}
ul#menu-main-1
{
    background: #012759;
}
.mobile_menu_button
{

        float: right;
}
.dark .mobile_menu_button span
{

        color: #062281!important;

        font-size: 35px!important;
}

/* Large devices (large desktops, 1000 and up) */

@media only screen and (min-width: 1000px )

{
    
    
nav.mobile_menu 
{
        display: block;
         width: 414px;
        margin-left: -15px !important;
}
.footer4 
{
        width: 500px;
}
.header2
{ 
        display: none!important; 
}
.headertop
{
        display:block!important;
        
}
.copyright1
{
        display:none;
}
.q_logo img.mobile 
{
        position: absolute;
        margin-left: -180px !important;
}
    
.side_menu_button_wrapper 
{
     display: none;
}
.header_bottom
{
        background-color: #e7e7e7 !important; 
}


.dark .mobile_menu_button span
{

    color: #062281!important;

    font-size: 35px!important;
}


.i001-css-button.new_v01.tool-htmledit-img
{

    width: 98%!important;
}


}
/* End Large devices (large desktops, 1000 and up) */

/* small devices (large desktops, 480and up) */

@media only screen and (min-width: 480px )  
{
    

.copyright1
{
        display:none;
}
.footer4 
{
        width: 500px;
}
nav.mobile_menu 
{
        display: block;
         width: 414px;
        margin-left: -15px !important;
}
    
.q_logo img.mobile 
{
        position: absolute;
        margin-left: -180px !important;
}

span.fohidden
    {
        display:block;
    }
span.fohidden1
    { 
        display:none;
    }

.footer3
    {
        display:none;
    }
.footer2
    {
        display:block;
    }
.request-quote-footer
    { 
        display: none;
    }
.footertext3
    {
        display:none;
    }

a.footertext2 
    {
        display: block;
        float: left;
        padding: 12px;
        background: #1d2122;
        border-radius: 10px;
       margin: 12px 10px;
        color: #fff;
    }


.footerinner
    {  
        display: none;
    }
.dark .mobile_menu_button span
    {

        color: #062281!important;

        font-size: 35px!important;
    }   

.header2
{ 
        display: none !important; 
}

.side_menu_button_wrapper
    {
        display: none;
    }
.i001-css-button.new_v01.tool-htmledit-img
    {

        width: 98%!important;
    }
    


.footer2
    {
        display:block;
        background: #000;
    }
.footer3
    {
        display:none;
    }
body 
{
    background:rgba(255, 0, 0, 0);
}

    .headertop
    {
        display:block!important;
        
    }
    
}


@media only screen and (min-width: 1024px)


{
    
.header_bottom 
    {
        padding: 0 0px;
    }   
.footer5 
    {
        margin-right: 39%;
    }
.headertop
{
        display:none!important;
}
.footer4 
{
        margin-left: 30%!important;
}
.footertext2 
{
        display: none;
}
.copyright1
{
        display:block;
}

nav.main_menu.drop_down.left 
{
        left: 206px!important;
}

.header_bottom_right_widget_holder 
{
        padding: 0;
}
nav.main_menu ul li a
{
        margin: -3px;
}

.header2
{ 
        display:block!important; 
}


}



    
/* Large devices (large desktops, 1200px and up) */



@media only screen and (min-width: 1200px)

{
    
.headertop
{
        display:none!important;
}
.footer4 
{
        margin-left: 30%!important;
}

.header2
{
     display: block!important; 
}

.footer3
{
    display:block;
}

.footer2
{
    display:none;
}

.request-quote-footer
{ 
    display: block;
}

.copyright1
{
        display:none;
}
span.fohidden
{ 
    display:none;
}

span.fohidden1
{ 
    display:block;
}

.copyright1
{
        display:block;
}

a.footertext1.footertext3 
{
    FLOAT: RIGHT;
}

.footertext3
{
    display:block;
}

.footerinner1
{  
    display: block;
}

body 
{
    background: url(images/footer-bg.jpg) bottom left no-repeat #fff;
}
.footer5 
{
        margin-right: 39%;
}

}


/*End  Large devices (large desktops, 1200px and up) */





