

.header_bottom, .header_top{
    position: absolute;
    width: 100%;
    margin-top: 20px;
}



.q_logo, .q_logo a {
    padding-top: 20px;
    padding-bottom: 57px;
}
.q_logo img
{
    top: -86%;
}
nav.main_menu.left{
    margin-top: -6px;
}
   
.header_bottom{
 height: 20px;
    margin-top: 47px;
    padding-top: 21px;
    padding-bottom: 8px;
}
nav.main_menu.drop_down.left {
 left: 147px !important;
}
.cms-text1 {
    padding: 1.3em;
border: 1px solid #ccc;
    width: 100%;
    margin-left: 25px;
}
.cms-button {
    color: #fff;
    background-color: rgb(80, 48, 51);
    padding: 14px;
    padding-left: 24px;
    padding-right: 23px;
    margin-left: -112%;
    margin-top: 2px;
}
#commentform input#email, #commentform input#url{
    display: none;
}