@media only screen and (max-width: 1000px){
				.header_bottom,
		nav.mobile_menu{
			background-color: #503033 !important;
		}
			}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
			body,
		p {
			font-size: 18px; 					    		}
	
	
	}
@media only screen and (max-width: 600px) {
			h1 {
			font-size: 25px; 					    letter-spacing: 0px; 		}
	
			h2 {
			font-size: 20px; 					    		}
	
			h3 {
			font-size: 15px; 					    		}
	
			h4 {
			font-size:  20px; 					    		}
	
	
	
			body,
		p {
			font-size: 18px; 					    		}
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
				.footer_bottom {
			line-height: 16px;
		}
	
	}